<%= form_for(@location, remote: true) do |f| %>
  <div class="modal-body">
    <ul class="errors"></ul>  
    <div class="control-group">
      <%= f.text_field :address, placeholder: "address" %> <br>
      <%= f.text_field :latitude, placeholder: "latitude" %> <br>
      <%= f.text_field :longitude, placeholder: "longitude" %> <br>
    </div>

    <div class="modal-footer">
      <%= submit_tag "New Location", class: "btn btn-primary" %>
      <%= link_to "Cancel", "#", class: "btn", data: { dismiss: "modal" } %>
    </div>
  </div>
<% end %>